.transaction {
    border-radius: 10px;
    background: #FFF;
    width: 280px;
    height: 282px;
    list-style: none;
    border-left: solid 5px;
    border-color: #FF6596; // depends on the type 
    margin: 8px 0px 0px 0px;
    padding: 0px;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #DCDCDF;
        padding: 12px 15px 8px 20px;
        margin: 0px;
    }

    &__item__last {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: none;
        padding: 12px 15px 12px 20px;
        margin: 0px;
    }

    &__header {
        font-size: 18px;
        font-weight: 700;
        padding: 0px;
        margin: 0px;

    }

    &__data {
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        padding: 0px;
        margin: 0px;
    }

}

.btn {
    &__delete {   width: 67px;
        height: 26px;
        border-radius: 18px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        border: none;
        cursor: pointer;     
        background: #24CCA7;
        color: #FFF;   
    }

    &__edit {
        width: 67px;
        height: 26px;
        border-radius: 18px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        border: none;
        cursor: pointer;
        background: transparent;       
    }
    &__edit__icon {
        width: 14px;
        height: 14px;
        padding-right: 2px;
    }
}