@import "../../../stylesheet/vars.scss";

.buttonAdd {
  cursor: pointer;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  @include tablet {
    position: fixed;
    bottom: 8px;
    right: 8px;
    z-index: 2;
  }
  @include desktop {
    bottom: 40px;
    right: 40px;
  }
}
