@import "./../../stylesheet/vars.scss";
@import "./../../stylesheet/fonts.scss";

.statistics {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 50px;
  }

  @include desktop {
    flex-grow: 0.75;
    padding-top: 0px;
  }
}
