.registerPage {
    background-color: #E7EAF2;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    

    @media screen and (min-width: 768px) {
        padding-top: 360px;
        padding-bottom: 36px;
        
      }

   
}
.registerPage__title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    /* bottom: 152px;
    left: 428px; */
    z-index: 999;
}

.registerPage__ellipse{
    position: relative;
    top:0px;
    right: 0px;
    z-index: 333;
    display: block;
}