@import "./../../../public/modern-normalize.scss";
@import "../../../stylesheet/vars.scss";
// @import "../../../stylesheet/fonts.scss";

.registerPage {
    background-color: $background-ccent;
    height: 100vh;
    width: 100vw;
    position: absolute; 
    

    &__title {
        display: none;
        width: 187px;
        height: 45px;   
        
        @media screen and (min-width: 768px) {
            font-size: 30px;
            font-weight: 400;
            position: fixed;
            display: flex;
            justify-content: center;
            bottom: 716px;
            right: 153px; 
            z-index: 2;  
            
          }
    
        @media screen and (min-width: 1280px) {
            bottom: 76px;
            left: 200px; 
          }    
    }

    &__ellipse{
        display: none;
    
        @media screen and (min-width: 321px) and (max-width: 1279px) {
            display: block;
            position: fixed;
            width: 370px;
            height: 380px;
            z-index: 0;
            top: 0px;
            right: 0px;   
          }       
    }

    &__lowerEllipse {
        display: none;
    
        @media screen and (min-width: 321px) {
            display: block;
            position: fixed;
            width: 500px;
            height: 325px;
            z-index: 0;
            bottom: 0px;
            left: 0px;   
          }
    }

    &__frame{
        display: none;
    
        @media screen and (min-width: 768px){
            display: flex;
            width: 248px;
            height: 250px;
            position: fixed;
            z-index: 0;
            bottom: 714px;
            left:129px;
        }
    
        @media screen and (min-width: 1280px){
            width: 410px;
            height: 413px;
            z-index: 1;
            bottom: 154px;
            left:66px;
        }  
    }

    &__backdrop {
        display: none;
    
        @media screen and (min-width: 1280px) {
            display: flex;
            background-image: url('../../img/backdrop.png');
            background-size: cover;
            position: fixed;
            right: 0px;
            top: 0px;
            width: 720px;
            height: 100%;
            z-index: 1;
        }   
    }       
}










