@import './../../../stylesheet/vars.scss';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: #00000040;
    background-color: $background-overlay-modal;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.content {
  // background-color: #fff;
  background-color: $background-light;
  width: 100vw;
  height: 100vh;

  /// na tablet i desk 
  /// min content / max
}

.divBtn {

  /// na mobile bedzie display none
  display: none; /// ważne!!!!!!


  /// tablet desktop 
  display: flex;
  justify-content: end;
  

  
}

.btn {
  width: 16px;
  height: 16px;
}