@import "./../../../public/modern-normalize.scss";
@import "../../../stylesheet/vars.scss";
@import '../../../stylesheet/fonts.scss';

// MOBILE
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background: #FFF;
  overflow-y: auto
}

.headerIsHidden {
  display: inline;
}

.btnCloseWrap {
  display: none;
}
  
.buttonCloseFunc {
  display: none;
}

.headerWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    width: 280px;
    height: 31px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.btnCancelTransWrap {
  display: flex;
  justify-content: center;
}

// TABLET
@include tablet {
  .content {
    padding: 20px 20px 60px 73px;
    min-width: 540px;
    width: 540px;
    min-height: 603px;
    height: 603px;
    border-radius: 20px;
    overflow-y: hidden;
    transition: all 0.4s ease;
  }

  .incomeSizeContent {
    min-height: 508px;
    height: 508px;
    max-height: 508px;
  }

  .contentContainer {
    transition: width 0.3s ease;
  }

  .headerIsHidden {
    display: none;
  }
  
  .btnCloseWrap {
    display: flex;
    justify-content: end;
  }
    
  .btnCloseFunc {
    display: flex;
    background-color: #fff;
    border: none;
    margin: none;
    padding: none;
    justify-content: center;
    align-content: center;
    cursor: pointer;
  
    // &:hover {
    //   transform: rotate(90deg);
    // }
  }
  
  .headerWrap {
    margin-top: 4px;
  
    &__title {
      width: 381px;
      height: 40px;
      font-size: 30px;
    }
  }
  
  .btnCancelTransWrap {
    display: block;
    margin-left: 47px;
  }
}
// DESKTOP
@include desktop {
  .content {
    padding: 20px 20px 60px 73px;
  }
  
  .headerIsHidden {
    display: none;
  }
  
  .headerWrap {  
    &__title {
      font-size: 38px;
    }
  }
}
