@import "./../../../public/modern-normalize.scss";
@import "../../../stylesheet/vars.scss";

// MOBILE
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.content {
  min-width: 320px;
  width: 100vw;
  min-height: 600px;
  height: 100vh;
  background: #fff;
  overflow-y: auto;
}

.headerIsHidden {
  display: inline;
}

.btnCloseWrap {
  display: none;
}
  
.buttonCloseFunc {
  display: none;
}

.headerWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    width: 280px;
    height: 31px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.typeOfTransHead {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  color: #E0E0E0;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 
  &__slashLabel {
    margin: 0 11px 0 11px
  }
}

.actBtnsWrap {
  display: flex;
  justify-content: center;
}

.closeBtn {
  margin-bottom: 37px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 50px;
  flex-shrink: 0;

  border: 1px solid $color-brand-primary;
  border-radius: 20px;
  background: $background-light;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
}

.closeBtnText {
  width: 164px;
  height: 24px;
  flex-shrink: 0;
  color: $color-brand-primary;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @font-face {
    font-family: "circe-regular";
    src: url("../../assets/fonts/circe-regular.otf");
  }
}

// TABLET
@include tablet {
  .content {
    padding: 20px 20px 60px 73px;
    min-width: 540px;
    width: 540px;
    min-height: 603px;
    height: 603px;
    border-radius: 20px;
    overflow-y: hidden;
    transition: all 0.4s ease;
  }

  .incomeSizeContent {
    min-height: 508px;
    height: 508px;
    max-height: 508px;
  }

  .contentContainer {
    transition: width 0.3s ease;
  }

  .headerIsHidden {
    display: none;
  }
  
  .btnCloseWrap {
    display: flex;
    justify-content: end;
  }
    
  .btnCloseFunc {
    display: flex;
    background-color: #fff;
    border: none;
    margin: none;
    padding: none;
    justify-content: center;
    align-content: center;
    cursor: pointer;
  
    // &:hover {
    //   transform: rotate(90deg);
    // }
  }
  
  .headerWrap {
    margin-top: 4px;
  
    &__title {
      width: 381px;
      height: 40px;
      font-size: 30px;
    }
  }

  .actBtnsWrap {
    display: flex;
    justify-content: start;
    margin-left: 47px;
  }
}
