@import "./../../../public/modern-normalize.scss";
@import "../../../stylesheet/vars.scss";

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-bottom: 8px;
    margin-bottom: 20px;

    @include tablet {
      gap: 14px;
      flex-direction: row;
      padding-bottom: 0;
    }

    @include desktop {
      gap: 36px;
    }
  }

  &__select {
    appearance: none;
    width: 280px;
    padding: 12px;
    border: 1px solid $font-color-dark;
    border-radius: 30px;
    background: rgba(193, 193, 193, 0.127);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #000;
    font-family: $font-family-circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    background-image: url("../../img/Vector\ 19.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;

    @include tablet {
      width: 160px;
    }

    @include desktop {
      width: 180px;
    }
  }
  &__option {
    border-radius: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: $font-family-circe;
    text-transform: capitalize;
    background-color: #000;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding: 12px;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 395px;
    }
  }

  &__table {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__item {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 16px 16px;
    border-bottom: 1px solid #dcdcdf;

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 395px;
    }
  }

  &__itemColor {
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }

  &__itemText {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  &__itemSum {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  &__results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;

    @include tablet {
      width: 300px;
    }

    @include desktop {
      width: 370px;
    }
  }
}
