@import "./../../../public/modern-normalize.scss";
@import "../../../stylesheet/vars.scss";

.form {
    margin: 0;
    padding: 0 11px 0 11px;
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    outline: none;
}

.calendarWrap {
    display: flex;
    align-items: center;
}

.separatorShort, .separatorLong {
    border-top: 1px solid #E0E0E0;
    width: 280px;
    height: 0;
    flex-shrink: 0;
}

.separatorShort {
    margin-top: 8px;
}

.separatorLong {
    margin-top: 60px;
}
