@import './../../../stylesheet/fonts.scss';
@import './../../../stylesheet/vars.scss';


.table {
    background-image: url('./../../img/mountains.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom; 

    background-color: $color-brand-primary;
    color: $background-light;
    font-family: $font-family-circe;


    border-radius: 30px;

    height: 174px; 
    width: 280px;

    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 124px;

    @include tablet {
        width: 336px;
        height: 182px;
        grid-template-rows: 50px 132px;
        border-radius: 40px;

    }
    @include desktop {
        width: 393px;
        height: 331px;
        grid-template-rows: 60px 271px;
        border-radius: 40px;

    }

    &__title {
        background-image: url('./../../img/exchange_head.png');
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        align-items: center;
        text-align: center;

        position: sticky;
        
        top: 0; 
        z-index: 1; 

        &__ul {
            // list-style: none;
            // padding: 0;
            width: 100%;

            display: flex;
            justify-content: space-evenly;

            font-size: 18px;
            font-weight: 700;

        }
    }

    &__values {
        text-align: center;

        overflow-y: scroll; 
        &::-webkit-scrollbar { width: 0.1em;}

        margin-top: 5px;
        height: 124px;

        @include tablet {
            margin-top: 10px;
        }
        @include desktop {
            height: 85%;
        }

        &__ul {
            // list-style: none;
            // padding: 0;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            font-size: 16px;
            font-weight: 400;

            &__li {
                margin: 10px 0;
            }
        }
    }
}

