// @import './../../../stylesheet/fonts.scss';
@import './../../../stylesheet/vars.scss';


.table {
    background-image: url('./../../img/Vector\ 7.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom; 


    // background-color: #4A56E2;
    background-color: $color-brand-primary;
    // color: #fff;
    color: $background-light;
    border-radius: 30px;


    height: 174px;  /// mozna zaakoment dziala bez
    width: 280px;


    overflow: hidden;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 124px;

    /// grid dla tableta i desktop
  

    //    ///  to trzeba poprawić
    //    /// 
    // &::-webkit-scrollbar {
    //     width: 0.1em; /* Szerokość paska przewijania */
    //   }


    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 50px 124px;


    &__title {
        background-image: url('./../../img/rectangle\ 6.png');
        background-repeat: no-repeat;
        background-size: cover;

        // height: 50px;
        // width: 100%;

        display: flex;
        align-items: center;
        text-align: center;

        position: sticky;
        
        top: 0; // Pozostawia wiersz tytułowy na górze
        z-index: 1; // Przód na wierzchu

        &__ul {
            list-style: none;
            padding: 0;
            width: 100%;

            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
             display: flex;
             justify-content: space-evenly;

            //globalsy
            font-size: 18px;
            font-weight: 700;

            &__li {
                
                // ewentualnie usunąć

            }
        }
    }

    &__values {
        // nadać wysokośc - do ustawienia title na stałe
        text-align: center;

        height: 124px;

        overflow-y: scroll; // Dodaj pasek przewijania tylko w wierszu wartości
        &::-webkit-scrollbar { width: 0.1em;}

        

        &__ul {
            list-style: none;
            padding: 0;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            //globalsy
            // font-family: ;
            font-size: 16px;
            font-weight: 400;

            &__li {
                margin: 10px 0;
            }
        }
    }
}

