

.table {
    background-image: url('./../../img/Vector\ 7.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom; 


    //globals
    background-color: #4A56E2;
    color: #fff;
    border-radius: 30px;


    height: 174px;
    width: 280px;


    overflow: scroll;


    &__title {
        background-image: url('./../../img/rectangle\ 6.png');
        background-repeat: no-repeat;
        background-size: cover;

        height: 50px;
        // width: 100%;

        display: flex;
        align-items: center;
        text-align: center;
        

        &__ul {
            list-style: none;
            padding: 0;
            width: 100%;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            //globalsy
            font-size: 18px;
            font-weight: 700;

            &__li {
                // ewentualnie usunąć

            }
        }
    }

    &__values {
        // nadać wysokośc - do ustawienia title na stałe
        text-align: center;

        &__ul {
            list-style: none;
            padding: 0;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            //globalsy
            font-size: 16px;
            font-weight: 400;

            &__li {

            }
        }
    }
}

