@import "../../../stylesheet/vars.scss";
@import "../../../stylesheet/fonts.scss";

.navbarContainer {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  gap: 32px;

  li {
    margin-right: 10px;
    display: flex;
    align-items: center;

    .nav__svg {
      width: 38px;
      height: 38px;
      fill: $nav-icon-color-inactive;
      vertical-align: middle;
    }

    .text {
      margin-left: 10px;
      font-weight: normal;
      font-family: $font-family-poppins;
      color: $font-color-dark;

      &.active {
        font-weight: bold;
        color: $font-color-dark;
      }
    }

    &.active {
      .text {
        font-weight: bold;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: row;
    align-items: center;
    li {
      margin-right: 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .nav__svg {
        width: 38px;
        height: 38px;
        fill: $nav-icon-color-inactive;
      }

      .text {
        display: none;
      }

      &.active {
        .text {
          font-weight: bold;
        }
      }
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: left;
    gap: 12px;
    li {
      display: table-cell;

      vertical-align: middle;

      .nav__svg {
        width: 38px;
        height: 38px;
        fill: $nav-icon-color-inactive;
        vertical-align: middle;

        @include tablet {
          width: 24px;
          height: 24px;
        }
      }

      .text {
        margin-left: 32px;
        font-size: 18px;
      }

      &.active {
        .text {
          font-weight: bold;
        }
      }
    }
  }

  @include desktop {
    flex-direction: column;
    align-items: left;
    li {
      margin-right: 0;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;

      .nav__svg {
        width: 38px;
        height: 38px;
        fill: $nav-icon-color-inactive;
        vertical-align: middle;
      }

      .text {
        margin-left: 18px;
        font-weight: normal;
      }

      &.active {
        .text {
          font-weight: bold;
        }
      }
    }
  }

  .nav__svg.active {
    fill: $color-brand-primary;
    filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  }

  .text.active {
    font-weight: bold;
  }

  .mobileOnly {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
