@import "../../../stylesheet/vars.scss";
@import "../../../stylesheet/fonts.scss";

.sidebar {
  @include tablet {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  @include desktop {
    flex-direction: column;
    flex-grow: 0.25;
    gap: 25px;
  }
}

.sidebarFlex {
  display: flex;
  flex-direction: column;

  @include tablet {
    gap: 25px;
  }

  @include desktop {
    gap: 0px;
  }
}
