@import "./../../../stylesheet/vars.scss";
@import "./../../../stylesheet/fonts.scss";

.exchange {
  background-color: rgba(224, 224, 224, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
