@import "./../../../public/modern-normalize.scss";
@import "./../../stylesheet/vars.scss";
@import './../../stylesheet/fonts.scss';
// MOBILE
.form {
    margin: 0;
    padding: 0 11px 0 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amountCalendarWrap{
    display: flex;
    flex-direction: column;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  appearance: none;
  margin: 0;
}
.input {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    padding: 0;
    // width: 190px;
    min-width: 239px;
    max-width: 239px;
    height: 24px;
    border: none;
    outline: none;
    text-align: start;
    color: #000;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    &::placeholder {
        color: #BDBDBD;
        font-family: Circe;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    &__comment {
        resize: none;
        margin-left: 20px;
        min-width: 239px;
        max-width: 239px;
        height: 52px;
        overflow: hidden;
        text-align: start;
        color: #000;
        font-family: Circe;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__comment::placeholder {
        font-weight: 400;
    }
}
.calendarWrap {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 243px;
    height: 24px;
}
.calendarIcon {
    width: 24px;
    height: 24px;
    fill: #4A56E2;
    cursor: pointer;
}
.separatorShort, .separatorLong {
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 40px;
    width: 280px;
    height: 0;
    flex-shrink: 0;
    border-top: 1px solid #E0E0E0;
}
// TABLET
// DESKTOP
@include tablet {
    .form {
        margin-right: 53px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .amountCalendarWrap{
        flex-direction: row;
        align-items: center;
        gap: 22px;
    }
    .input {
        display: flex;
        margin: 0;
        padding: 0;
        // width: 190px;
        min-width: 190px;
        max-width: 190px;
        height: 24px;
        border: none;
        outline: none;
        text-align: center;
        color: #000;
        font-family: Circe;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &::placeholder {
            color: #BDBDBD;
            font-family: Circe;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &__comment {
            resize: none;
            margin-left: 20px;
            min-width: 378px;
            max-width: 378px;
            height: 24px;
            overflow: hidden;
            text-align: start;
            color: #000;
            font-family: Circe;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &__comment::placeholder {
            font-weight: 400;
        }
    }
    .calendarWrap {
        display: flex;
        margin-left: 0;
        width: 181px;
    }
    .calendarIcon {
        width: 24px;
        height: 24px;
        fill: #4A56E2;
        cursor: pointer;
    }
    .separatorLong {
        width: 394px;
    }
    .separatorShort {
        width: 181px;
    }
}