@import "./../../../public/modern-normalize.scss";
@import "../../../stylesheet/vars.scss";
@import '../../../stylesheet/fonts.scss';

// MOBILE
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  background: #FFF;
  overflow-y: auto;
  // z-index: 9;
}

.headerIsHidden {
  display: inline;
}

.btnCloseWrap {
  display: none;
}
  
.buttonCloseFunc {
  display: none;
}

.headerWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    width: 280px;
    height: 31px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.sliderContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.incomeLabel,
.expenseLabel {
  text-align: right;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.sliderCheckbox {
  display: none;
}

.sliderContainer {
  margin-left: 12px;
  margin-right: 18px;
  padding: 0;
  border: none;
  border-radius: 30px;
  width: 92px;
  height: 100%;
  background: none;
  overflow: hidden;
  position: relative;
}

.slider {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

.sliderGreen,
.sliderRed {
  z-index: 1;
}

.sliderContainer::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 6px;
  width: 80px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  background: #fff;
  pointer-events: none;
  z-index: 0;
}

.actBtnsWrap {
  display: flex;
  justify-content: center;
}

.closeBtn {
  margin-bottom: 37px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 50px;
  flex-shrink: 0;

  border: 1px solid $color-brand-primary;
  border-radius: 20px;
  background: $background-light;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
  }
}

.closeBtnText {
  width: 164px;
  height: 24px;
  flex-shrink: 0;
  color: $color-brand-primary;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @font-face {
    font-family: "circe-regular";
    src: url("../../assets/fonts/circe-regular.otf");
  }
}

// TABLET
@include tablet {
  .content {
    padding: 20px 20px 60px 73px;
    min-width: 540px;
    width: 540px;
    min-height: 603px;
    height: 603px;
    border-radius: 20px;
    overflow-y: hidden;
    transition: all 0.4s ease;
  }

  .incomeSizeContent {
    min-height: 508px;
    height: 508px;
    max-height: 508px;
  }

  .contentContainer {
    transition: width 0.3s ease;
  }

  .headerIsHidden {
    display: none;
  }
  
  .btnCloseWrap {
    display: flex;
    justify-content: end;
  }
    
  .btnCloseFunc {
    display: flex;
    background-color: #fff;
    border: none;
    margin: none;
    padding: none;
    justify-content: center;
    align-content: center;
    cursor: pointer;
  
    // &:hover {
    //   transform: rotate(90deg);
    // }
  }
  
  .headerWrap {
    margin-top: 4px;
  
    &__title {
      width: 381px;
      height: 40px;
      font-size: 30px;
    }
  }
  
  .sliderContent {
    margin-top: 24px;
  }

  .actBtnsWrap {
    display: flex;
    justify-content: start;
    margin-left: 47px;
  }
}
// DESKTOP
@include desktop {
  .content {
    padding: 20px 20px 60px 73px;
  }
  
  .headerIsHidden {
    display: none;
  }
  
  .headerWrap {  
    &__title {
      font-size: 38px;
    }
  }
}
