

.balance {
  border-radius: 30px;
  height: 80px;
  width: 280px;
  background-color: #fff;
  display: flex;
  align-items: center;
  
  

  &__layout {
    margin-left: 30px;
    // height: 40px;
    
  }

  &__description {
    margin: 0 auto;
    text-transform: uppercase;
    color: #A6A6A6;;
    font-size: 12px;
  }
  &__content {
    margin: 0 auto;
    font-size: 30px;
  }
}