.transtable {
    border-collapse: collapse;
    border-spacing: 0;
    
      
    &__headtable {
        background-color: #FFF;
        font-size: 18px;
        font-weight: 700;
        padding-right: 20px;
    }
    &__headcell {
    padding-top: 16px;
    padding-bottom: 15px;
    border: none;
    text-align: left;
    } 
    &__headcell:first-child {
        padding-left: 20px;
        padding-right: 65px;
        border-top-left-radius: 30px 30px;
        border-bottom-left-radius: 30px 30px;
    }
    &__headcell__type {
        text-align: center;
        padding-right: 45px;

    }
    &__headcell__com {
        padding-left: 45px;

    }
        
    &__headcell__sum {
        text-align: right;

    }
    &__headcell:last-child {
        border-top-right-radius: 30px 30px;
        border-bottom-right-radius: 30px 30px;
        text-align: right; 
    }
&__body {
    overflow: scroll;
}    

&__row {
    background-color: transparent;     
}
&__row:not(:last-child) {
    border-bottom: 1px solid #DCDCDF;

}
&__rowcell {
    padding-top: 16px;
    padding-bottom: 14px;
    font-size: 16px;
    font-weight: 400;   
}
&__rowcell:first-child {
    padding-left: 20px;
       
}
}

.btn {
    &__delete {   
        width: 67px;
        height: 26px;
        border-radius: 18px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        border: none;
        cursor: pointer;     
        background: #24CCA7;
        color: #FFF;   
    }

    &__edit {
        border: none;
        cursor: pointer;
        background: transparent;
        padding-right: 8px;
        padding-left: 33px;       
    }
    &__edit__icon {
        width: 14px;
        height: 14px;
    }
}