@import "../../../stylesheet/vars.scss";

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;

  @include tablet {
    padding-top: 35px;
  }

  @include desktop {
    padding: 0px 50px;
    flex-grow: 0.75;
  }
}
